 body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #output {
            margin-top: 20px;
        }
button{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background: #1E90FF;
    width: 110px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);


}